// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-box {
  border-width: 5px;
  border-color: #5b9cff;
  border-style: solid;
  border-radius: 20px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}